<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-for指令</title>
</head>
<body>
    <h1>v-for指令用法</h1>
    <hr>
    <div id="app">
       <ul>
           <li v-for="item in sortItems">
                {{item}}
           </li>
       </ul>
       <hr>
       <!-- 注意：此处循环的不是数组的原始键值（items，students），而是computed方法的方法名 -->
       <ul>
           <li v-for="student in sortStudentByAge">
               {{student.name}}--{{student.age}}
           </li>
       </ul>
    </div>
    <!-- TODO 这个vue.js控制台报错只给“Live reload enabled.” ，并无具体的vue专属提示-->
    <script src="../assets/js/vue.js"></script>
    <script type="text/javascript">
        var app=new Vue({
            el:'#app',
            data:{
                items:[20 , 7, 18, 65, 32, 19, 54, 56, 41],
                students:[
                    {name:'李白',age:1000},
                    {name:'张三',age:33},
                    {name:'王五',age:39},
                    {name:'小明',age:21}
                ]
            },
            computed: {
                sortItems:function(){
                    return this.items.sort(sortNumber);
                },
                sortStudentByAge:function(){
                    return sortByKey(this.students,'age');
                }
            }
        });
        function sortNumber(a,b){
            return a-b;
        }
        //数组对象方法排序:
        function sortByKey(array,key){
            return array.sort(function(a,b){
            var x=a[key];
            var y=b[key];
            return ((x<y)?-1:((x>y)?1:0));
        });
        }
    </script>
</body>
</html>